<%= form_for @word, :html => { :class => 'form-horizontal' } do |f| %>

<% if @word.errors.any? %>
<div class="error_messages">
  <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>
  <ul>
    <% @word.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="control-group">
  <%= f.label :name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'text_field' %>
    <% @word_languages.each do |lang| %>
    <%= lang.language_code %>
    <% if @word.persisted? %>
    <%= f.radio_button :word_language_id, lang.id %>
    <% else %>
    <%= f.radio_button :word_language_id, lang.id, checked: get_checked(lang) %>
    <% end %>
    <% end %>
    <label id="word_name-error" class="error" for="word_name"></label>
  </div>
  
</div>

<%= f.fields_for :word_translations do |builder| %>
<%= render 'word_translations', f: builder %>
<% end %>


<%= f.fields_for :wrong_words do |builder| %>
<%= render 'wrong_word_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Add wrong word", f, :wrong_words %>


<%= f.fields_for :correct_usages do |builder| %>
<div class="control-group">
  <%= builder.label :usage,"Correct Usage Ex", :class => 'control-label' %>
  <div class="controls">
    <%= builder.text_area :usage ,  :class => 'field word-text-area'  %>
  </div>
</div>
<% end %>


<%= f.fields_for :wrong_usages do |builder| %>
<div class="control-group">
  <%= builder.label :usage,"Wrong Usage Ex", :class => 'control-label' %>
  <div class="controls">
    <%= builder.text_area :usage ,  :class => 'field word-text-area'  %>
  </div>
</div>
<% end %>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
  words_path, :class => 'btn' %>
</div>
<% end %>
