<table class="table table-striped">
  <thead>
    <tr>
      <%= content_tag :th, sort_link(@q, :name, t(:right_usage), default_order: :asc) %>  
      <th> <%= t :wrong_usage %> </th>
      <th> <%= t :english_word %> </th>
      <th> <%= t :notes %> </th>
    </tr>
  </thead>
  <tbody>
    <% @words.each do |word| %>
    <tr>
      <td>
        <% if current_user %>
        <%= link_to word.name , edit_word_path(word), class: "" %>
        <% else %>
        <%= word.name %>
        <% end %>
      </td>
      <td><%= word.wrong_words.first.name if word.wrong_words.first %></td>
      <td><%= word.word_translations.first.name if word.word_translations.first %></td>
      <td><%= word.notes.first.notes if word.notes.first %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @words  %>
</div>