<table class="table table-striped">
  <thead>
    <tr>
      <%= content_tag :th, sort_link(@q, :name, t(:root_word), default_order: :asc) %>  
      <th>  <%= t :right_usage %> </th>
      <th> <%= t :wrong_usage %> </th>
      <th> <%= t :right_usage_ex %>: </th>
      <th> <%= t :wrong_usage_ex %>: </th>
    </tr>
  </thead>
  <tbody>
    <% @words.each do |word| %>
    <tr>
      <td>
      <% if current_user %>
        <%= link_to word.name , edit_word_path(word), class: "" %>
        <% else %>
        <%= word.name %>
        <% end %>
      </td>
      <td><%= word.correct_words.first.name %></td>
      <td><%= word.wrong_words.first.name if word.wrong_words.first %></td>
      <td><%= word.correct_usages.first.usage if word.correct_usages.first %></td>
      <td><%= word.wrong_usages.first.usage if word.wrong_usages.first %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @words  %>
</div>